main {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1280px;

  position: relative;
  min-height: 100vh;

  .main-title {
    text-align: center;
    margin-top: 1.875rem;
    margin-top: clamp(
      1.875rem,
      1.3408119658119657rem + 1.7094017094017095vw,
      3.125rem
    );
    color: var(--primary-blue);

    font-size: 1.5625rem;
    font-size: clamp(
      1.5625rem,
      0.6276709401709402rem + 2.9914529914529915vw,
      3.75rem
    );
    text-shadow: 1px 1px 0px var(--black);
  }

  .area-styles {
    width: clamp(300px, 70%, 700px);
    height: auto;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    margin-top: 30px;
  }

  .short-url-area {
    @extend .area-styles;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .paste-here-title {
      text-align: center;
      color: var(--dark-gray);
      font-size: 1.0625rem;
      font-size: clamp(
        1.0625rem,
        0.7954059829059829rem + 0.8547008547008548vw,
        1.6875rem
      );
    }

    .input-area {
      margin-top: 20px;
      // outline: 1px solid red;
      width: 100%;
      input {
        padding: 10px;
        width: 70%;
        height: 40px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid var(--primary-blue);
        color: var(--dark-gray);
      }
      input:focus {
        outline: none;
        border: 1px solid var(--primary-blue);
      }
      button {
        width: 30%;
        height: 40px;
        outline: none;
        border: 1px solid var(--primary-blue);
        background-color: var(--primary-blue);
        color: var(--white);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        font-size: 0.71875rem;
        font-size: clamp(
          0.71875rem,
          0.6458333333333334rem + 0.3645833333333333vw,
          0.9375rem
        );
      }
    }

    .info-text {
      margin-top: 20px;
      text-align: center;
      color: var(--light-gray);
      line-height: 1.5;
      font-size: 0.5625rem;
      font-size: clamp(
        0.5625rem,
        0.4791666666666667rem + 0.4166666666666667vw,
        0.8125rem
      );
    }
  }

  .short-urls-display-area {
    @extend .area-styles;
    margin-bottom: 60px;

    .header {
      display: flex;
      justify-content: space-between;
      span {
        font-weight: $regular;
        font-size: 0.8125rem;
        color: var(--dark-gray);

        font-size: clamp(
          0.8125rem,
          0.7708333333333334rem + 0.20833333333333334vw,
          0.9375rem
        );
      }

      & > :nth-child(1) {
        width: 54%;
      }
      & > :nth-child(2) {
        width: 23%;
      }
      & > :nth-child(3) {
        width: 23%;
        text-align: right;
      }
    }

    .body {
      margin-top: 20px;
      width: 100%;

      .seperator {
        margin: 10px 0px 10px 0px;
        height: 1px;
        opacity: 0.3;
      }

      .one-short-url {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.625rem;
        font-size: clamp(
          0.625rem,
          0.5208333333333334rem + 0.5208333333333333vw,
          0.9375rem
        );

        & > :nth-child(1) {
          width: 54%;
        }
        & > :nth-child(2) {
          width: 23%;
          padding-left: 10px;
        }
        & > :nth-child(3) {
          width: 23%;
          text-align: right;
        }
        .url {
          color: rgb(79, 79, 255);
          cursor: pointer;
          text-decoration: none;
        }

        .url:hover {
          color: rgb(0, 0, 255);
          text-decoration: underline;
        }

        .copy {
          cursor: pointer;
          color: var(--primary-blue);
          font-size: 22px;
        }
      }
    }
  }
  footer {
    width: 100%;
    position: absolute;
    bottom: 13px;
    color: var(--footer-gray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8125rem;
    font-size: clamp(0.8125rem, 0.75rem + 0.3125vw, 1rem);

    * {
      margin-inline: 5px;
    }
    a {
      font-weight: $regular;
      color: var(--footer-gray);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      text-decoration: none;
    }

    a:hover {
      color: var(--dark-gray);
    }
  }
}
